<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">My Notes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/species/all">Species List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/behaviors">Behaviors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/note">New Note</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/species">New Species</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>
