<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
  <body>
    <%- include('navigation', { page: source }); -%>
    <div class="container">
      <div class="row align-items-center">
        <div class="col ms-3 mt-3">
          <h2>Bird Behaviors</h2>
        </div>
        <div class="col text-end me-4 mt-3 ps-0 pe-0">
          <span class="fs-6">Sort: </span>
          <span>
            <a
              href="?sortBy=behavior<%= ((sortBy === 'behavior') && (sortOrder === 'asc')) ? '&sortOrder=desc' : '&sortOrder=asc' %>"
              ><small>Behavior</small> <% if ((sortBy === 'behavior') && (sortOrder ===
              'asc')) { %>↑<% } else if ((sortBy === 'behavior') && (sortOrder ===
              'desc')) { %>↓<% }%>
            </a>
          </span>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
        <% behaviors.forEach((behavior) => { %>
        <div class="col">
          <div class="card border-dark mb-3" style="max-width: 24rem">
            <div
              class="card-body text-secondary pt-0"
              style="transform: rotate(0)"
            >
              <p class="card-text">
                <div class="row">
                  <div class="col-12">
                    <small><%= behavior.behavior %></small>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
