<%- include('header'); -%>
<body class="bg-dark">
  <div class="container text-center">
    <br />
    <h1>List of Sightings</h1>
    <br />

    <br />
    <a href="/note">
      <input
        type="button"
        value="Add New Sighting"
        class="btn bg-primary text-white btn-lg"
      />
    </a>
  </div>
</body>
