<%- include('header'); -%>

<div class="container">
  <div
    class="col-12 my-5 d-flex align-items-center justify-content-center flex-column text-white"
  >
    <div class="bg-secondary p-3 rounded">
      <form action="/signup" method="POST">
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" required /><br />
        <label for="username">Password:</label><br />
        <input type="password" id="password" name="password" required /><br />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
