<form action="/signup" method="POST">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      placeholder="name@example.com"
      required
    />
    <label for="email" class="form-label">Email</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="password"
      required
    />
    <label for="password" class="form-label">Password</label>
  </div>
  <div class="mb-3">
    <span style="font-size: 12px">
      By clicking Sign Up, you agree to our Terms, Data Policy and Cookie
      Policy.
    </span>
  </div>
  <input type="submit" class="btn btn-success mb-3 w-100" value="Sign Up" />
</form>
